body {
    padding-top:11px;
}
.card {
    background-color: black;
}
.card-img-top {
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    max-height: 150px;
}
footer {
    margin-top: 20px;
}
.form {
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.card {
    opacity: 90%;
}
.card:hover {
opacity: 100%;
    transform:translateY(-10px);
}

